/* your styles go here */
/*page contact.html*/
.contact-form p {
    font-family: open-sans;
    color: #444 !important;
    font-size: 18px !important;
}
/*contact.html button*/
#sendMessageButton {
    background: #000;
    color: #ddd;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease-in;
}
#sendMessageButton:hover {
    background: #444;
    color: #fff;
}
/*404 page*/
.page-not-found{
    padding: 60px 20px;
}
.page-not-found h1 {
    display: block;
    font-size: 50px;
    color: #0e0e0e;
    padding: 10px;
}
.page-not-found p > a {
    font-size: 32px;
    font-weight: 700;
    color: #500a6f;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
}
/* error message */
.elseMessage {
    padding: 120px 20px !important;
    display: block;
    font-size: 50px;
    color: #0e0e0e;
    text-align: center;
}
.elseMessage span{
    display: block;
    text-align: center;
}
.elseMessage span > a{
    font-size: 32px;
    font-weight: 700;
    color: #500a6f;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
}
/*header style*/
.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
}
/*index.php sytle*/
.row-image-left {
    background: #f3f3f3;
}